<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Satellite</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-[100vw] px-4 py-4 fons-sans bg-black text-white">


    <div class="flex items-center border-b  border-[#696969]">
        <a href="/satellites_object_visualization_analysis"><h6 class="text-[12px] px-2 cursor-pointer p-1 bg-green-400 text-black font-bold">Satellite List</h6></a>
        <a href="/related_satellites_list"><h6 class="text-[12px] px-2 cursor-pointer p-1  text-white font-bold">Relational List</h6></a>
        <a href="/collision_satellites_list"><h6 class="text-[12px] px-2 cursor-pointer p-1  text-white font-bold">Collision List</h6></a>
    </div>
    
    <div class="flex items-center justify-between mt-2">
    <h6 class="text-[14px] font-bold">My Satellite (<%= response.length %>)</h6>

    <div>
        <input type="text" onkeydown="handleKeyDown(event)" placeholder="search satellite" class="text-black pl-2 rounded-[5px]" id="searchField" />
        <a href="/object_visulization_create"><button class="bg-green-400 text-[12px] font-bold py-1 text-black px-4 rounded-[4px]">Add Satellite</button></a> 
    </div>
    <!-- <a href="/create"><button class="bg-green-400 text-[12px] font-bold py-1 text-black px-4 rounded-[4px]">Add Satellite</button></a>  -->
    </div>
    <div class="grid grid-cols-5 gap-2 mt-4">
        <% response.forEach( function (r) { %>
        <div class="border border-[#696969] p-2">
            <h6 class="text-[12px] font-bold text-green-400">Satellite Name : <%= r.name %></h6>
            <h6 class="text-[12px] font-bold opacity-80">Type : <%= r.type %></h6>
            <h6 class="text-[12px] font-bold opacity-80">Norad Id : <%= r.norad_id %>  / Orbit Type : <%= r.orbit_type %></h6>
            <h6 class="text-[12px] font-bold opacity-80">Internation Designator : <%= r.international_designator %> / Launch Date : <%= r.launch_date %></h6>
           
            <div class="border border-[#696969] mt-2">
                <div class="border-b border-[#696969] flex text-[11px]">
                    <h6 class="border-r border-[#696969] w-[50%] p-1">Position X</h6>
                    <h6 class="p-1"><%= r.position.x %></h6>
                </div>
                <div class="border-b border-[#696969] flex text-[11px]">
                    <h6 class="border-r border-[#696969] w-[50%] p-1">Position Y</h6>
                    <h6 class="p-1"><%= r.position.y %></h6>
                </div>
                <div class="border-b border-[#696969] flex text-[11px]">
                    <h6 class="border-r border-[#696969] w-[50%] p-1">Position Z</h6>
                    <h6 class="p-1"><%= r.position.z %></h6>
                </div>
            </div>    
            <div class="border border-[#696969] mt-2">
                <div class="border-b border-[#696969] flex text-[11px]">
                    <h6 class="border-r border-[#696969] w-[50%] p-1">Semi Major Axis in KM</h6>
                    <h6 class="p-1"><%= r.orbital_elements.semi_major_axis_km %></h6>
                </div>
                <div class="border-b border-[#696969] flex text-[11px]">
                    <h6 class="border-r border-[#696969] w-[50%] p-1">Eccentricity</h6>
                    <h6 class="p-1"><%= r.orbital_elements.eccentricity %></h6>
                </div>
                <div class="border-b border-[#696969] flex text-[11px]">
                    <h6 class="border-r border-[#696969] w-[50%] p-1">Inclination Deg</h6>
                    <h6 class="p-1"><%= r.orbital_elements.inclination_deg %></h6>
                </div>
                <div class="border-b border-[#696969] flex text-[11px]">
                    <h6 class="border-r border-[#696969] w-[50%] p-1">Argument of periapsis Deg</h6>
                    <h6 class="p-1"><%= r.orbital_elements.argument_of_periapsis_deg %></h6>
                </div>
                <div class="border-b border-[#696969] flex text-[11px]">
                    <h6 class="border-r border-[#696969] w-[50%] p-1">Longitude of ascending node Deg</h6>
                    <h6 class="p-1"><%= r.orbital_elements.longitude_of_ascending_node_deg %></h6>
                </div>
                <div class="flex text-[11px]">
                    <h6 class="border-r border-[#696969] w-[50%] p-1">Mean Anomaly Deg</h6>
                    <h6 class="p-1"><%= r.orbital_elements.mean_anomaly_deg %></h6>
                </div>

            </div> 

            <div class="mt-2 flex justify-between">

                <button onclick="deleteData('<%= r._id %>')" class="bg-red-400 w-[49%] text-[12px] font-bold py-1 text-black px-4 rounded-[4px]">Delete</button>
                <button onclick="updateData('<%= r._id %>')" class="bg-green-400 w-[49%]  text-[12px] font-bold py-1 text-black px-4 rounded-[4px]">Update</button>
            </div>
        </div>
        <% }) %>
    </div>
    <script>

        window.addEventListener('popstate', function(event) {
            // Reload the page when the user navigates back
            location.reload();
        });

        window.onpageshow = function(event) {
        if (event.persisted) {
            // Page navigation was via the back/forward buttons
            // Reload the page
            location.reload();
        }else{
            console.log("loading 1")
            

        }
        };

        function handleKeyDown(event) {
                if (event.keyCode === 13) {
                // Execute your JavaScript function here
                searchData();
                }
            }
        async function searchData(){
            console.log("clicked")
            var search = document.getElementById('searchField').value;
            window.location.href = "/satellites/" + search
        }

        async function updateData(v){
            window.location.href = "/object_visulization_update/" + v
        }

        async function deleteData(v){
            fetch("http://localhost:8080/satellites/"+v, {
                method: "DELETE",
                body: null,
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
                }).then((response)=> {
                    if(response.status == 200){
                        location.reload();
                        alert("Data deleted successfully!")
                        
                    }  
                }).catch((error)=>{

                })
            
        }

    </script>
</body>
</html>