<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Position Monitoring</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<!-- style="background: url('https://media.istockphoto.com/id/1339097795/photo/satellite-orbiting-the-earth.jpg?s=612x612&w=0&k=20&c=FMG2NypIT0JuZVs26qSYOq2qTwsO89woydrwZimK21s=')" -->
<body class="w-[100vw] fons-sans bg-black" >
    <h1 class="p-5 text-white font-bold">Satellite Position Monitoring</h1>

    <div class="px-5 flex border-b border-black pb-2">

        <div>
            <h6 class="text-white font-bold text-[15px] mb-5">User Info</h6>

        <div class="bg-green-500 max-w-[300px] p-2 ">
            <h6 class="text-[12px] mb-2 bg-green-600 p-4 font-[800] text-white">These information is captured everytime once you access it to check the satellite information for pinging</h6>
            <h6 class="text-[13px] ">IP Address : <span class="font-bold"> <%= ip %> </span></h6>
            <h6 class="text-[13px] ">Host Name : <span class="font-bold"> <%= hostname %> </span></h6>
            <h6 class="text-[13px] ">Latitude : <span class="font-bold"> <%= latitude %> </span></h6>
            <h6 class="text-[13px] ">Longitude : <span class="font-bold"> <%= longitude %> </span></h6>
            <h6 class="text-[13px] ">Altitude : <span class="font-bold"> <%= altitude %> </span></h6>
            <h6 class="text-[13px] ">City / Postal / Region : <span class="font-bold"> <%= city %> / <%= postal %> / <%= region %> </span></h6>
            <h6 class="text-[13px] ">Country / Timezone  : <span class="font-bold"> <%= country %> / <%= timezone %> </span></h6>
            <h6 class="text-[13px] ">Org  : <span class="font-bold"> <%= org %> </span></h6>
        </div> 
        </div>

        <div class="mx-5">
            <h6 class="text-white font-bold text-[15px] mb-5">Satellite Info</h6>

            <div class="bg-green-500 p-4">
            <h6 class="text-[13px] ">Satellite Name : <span id="satellite_name" class="font-bold"> -- </span></h6>
            <h6 class="text-[13px] ">Satellite Id : <span id="satellite_id" class="font-bold"> -- </span></h6>
            </div>
        </div>

        <div >
            <h6 class="text-white font-bold text-[15px] mb-5">Latest Record</h6>

            <div class="bg-green-500 p-4">
            <h6 class="text-[13px] ">Satellite Latitude : <span class="font-bold" id="satellite_lat"> -- </span></h6>
            <h6 class="text-[13px] ">Satellite Longitude : <span class="font-bold" id="satellite_lon" > -- </span></h6>
            <h6 class="text-[13px] ">Satellite Altitude : <span class="font-bold" id="satellite_alt"> -- </span></h6>
            <h6 class="text-[13px] ">Elevation : <span class="font-bold" id="satellite_ele"> -- </span></h6>
            <h6 class="text-[13px] ">RA : <span class="font-bold" id="satellite_ra"> -- </span></h6>
            <h6 class="text-[13px] ">Eclipsed : <span class="font-bold" id="satellite_ecl" > -- </span></h6>
            <h6 class="text-[13px] ">Recent Data :  
            <a href="/satellite_position_detail" target="_blank" >
            <span  class="font-bold text-blue-500 underline cursor-pointer" id="recent_data_id">-- </span>
            </a>
            </h6>
            </div>
        </div>
    </div>

    <div class="mx-5 mt-5 w-[96vw] pb-10">
        <table id="dataTable w-[100%]">
            <thead class="w-[100%] text-white text-[13px] border">
                <tr class="w-[100%]">
                    <th class="border-r w-[20%] p-2">Sat Lat</th>
                    <th class="border-r w-[20%] p-2">Sat Lng</th>
                    <th class="border-r w-[20%] p-2">Sat Alt</th>
                    <th class="border-r w-[20%] p-2">Azimuth</th>
                    <th class="border-r w-[20%] p-2">Elevation</th>
                    <th class="border-r w-[20%] p-2">Ra</th>
                    <th class="border-r w-[20%] p-2">Dec</th>
                    <th class="border-r w-[20%] p-2">Eclipsed</th>
                    <th class="w-[10%] p-2">Timestamp</th>
                </tr>
            </thead> 
             <tbody id="dataBody" class="w-[100%] text-white text-[13px] border">

             </tbody>
        </table>

    </div>

    
    <script src="/socket.io/socket.io.js"></script>
        <script>
            console.log("script is running")


            function openPage(){
             window.location.href = '/detail';
            }


            const socket = io();

           socket.emit('satellite_position_update_connection', '');
           
           socket.on('satellite_location', function(data) {
            if(data.info != null){
                document.getElementById('satellite_name').textContent = data.info.satname
                document.getElementById('satellite_id').textContent = data.info.satid
                document.getElementById('satellite_lat').textContent = data.positions.satlatitude
                document.getElementById('satellite_lon').textContent = data.positions.satlongitude
                document.getElementById('satellite_alt').textContent = data.positions.sataltitude
                document.getElementById('satellite_ele').textContent = data.positions.eclipsed
                document.getElementById('satellite_ra').textContent = data.positions.ra
                document.getElementById('satellite_ecl').textContent = data.positions.elevation
                document.getElementById('recent_data_id').textContent = data.key

                

                const newRow = document.createElement('tr');

                const column1Cell = document.createElement('td');
                column1Cell.textContent = data.positions.satlatitude;
                column1Cell.style.padding = '10px'
                column1Cell.style.borderRight = '1px solid white'
                newRow.appendChild(column1Cell);

                const column2Cell = document.createElement('td');
                column2Cell.style.padding = '10px'
                column2Cell.style.borderRight = '1px solid white'
                column2Cell.textContent = data.positions.satlongitude;
                newRow.appendChild(column2Cell);
                
                const column3Cell = document.createElement('td');
                column3Cell.style.padding = '10px'
                column3Cell.style.borderRight = '1px solid white'
                column3Cell.textContent = data.positions.sataltitude;
                newRow.appendChild(column3Cell);

                const column4Cell = document.createElement('td');
                column4Cell.style.padding = '10px'
                column4Cell.style.borderRight = '1px solid white'
                column4Cell.textContent = data.positions.azimuth;
                newRow.appendChild(column4Cell);

                const column5Cell = document.createElement('td');
                column5Cell.style.padding = '10px'
                column5Cell.style.borderRight = '1px solid white'
                column5Cell.textContent = data.positions.elevation;
                newRow.appendChild(column5Cell);

                const column6Cell = document.createElement('td');
                column6Cell.style.padding = '10px'
                column6Cell.style.borderRight = '1px solid white'
                column6Cell.textContent = data.positions.ra;
                newRow.appendChild(column6Cell);

                const column7Cell = document.createElement('td');
                column7Cell.style.padding = '10px'
                column7Cell.style.borderRight = '1px solid white'
                column7Cell.textContent = data.positions.dec;
                newRow.appendChild(column7Cell);

                const column8Cell = document.createElement('td');
                column8Cell.style.padding = '10px'
                column8Cell.style.borderRight = '1px solid white'
                column8Cell.textContent = data.positions.eclipsed;
                newRow.appendChild(column8Cell);

                const column9Cell = document.createElement('td');
                column9Cell.style.padding = '10px'
                column9Cell.style.borderRight = '1px solid white'
                column9Cell.textContent = data.positions.timestamp;
                newRow.appendChild(column9Cell);

                newRow.style.borderBottom = '1px solid white'
                document.getElementById('dataBody').appendChild(newRow);
            }
           

            });

       // window.scrollTo(0, document.body.scrollHeight);
    </script>  
</body>
</html>